$bg : #353846;
$mainColour : #24262E ;
$dpadding : 5px 15px;

body {
    background: $bg;
    margin:0;
}

.nav {
    background: $mainColour;
    color:white;
    padding:$dpadding;
    font-family: Rubik;
}

.main-content {
    column-count:4;
    img {
        width:100%;
    }
}

.search-bar{
    input, button {
    font:100% Rubik;
    }
    button {
        background: #385dee;
        color:white;
        border:2px solid #385dee;
    }
    float:right;
}